[submodule "myVimrc"]
	path = myVimrc
	url = git@github.com:Teko7a/myVimrc.git
[submodule "z"]
	path = z
	url = git@github.com:rupa/z.git
[submodule "alacritty/alacritty-colorscheme"]
	path = alacritty/alacritty-colorscheme
	url = git@github.com:toggle-corp/alacritty-colorscheme.git
[submodule "alacritty/alacritty-theme"]
	path = alacritty/alacritty-theme
	url = git@github.com:eendroroy/alacritty-theme.git
[submodule "alacritty/colors/alacritty-colorscheme"]
	path = alacritty/colors/alacritty-colorscheme
	url = git@github.com:toggle-corp/alacritty-colorscheme.git
[submodule "alacritty/colors/alacritty-theme"]
	path = alacritty/colors/alacritty-theme
	url = git@github.com:eendroroy/alacritty-theme.git
[submodule "ranger"]
	path = ranger
	url = git@github.com:Teko7a/ranger.git
